* {
    margin: 0;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 400px;
    padding-right: 400px;
    background: url("https://w.wallhaven.cc/full/g7/wallhaven-g7wo7d.jpg");
    background-position: top center;
    background-attachment: fixed;
    color: aliceblue;
    text-shadow: black 0.1em 0.1em 0.2em;
}

table {
    width: 100%;
}

.content {
    background-color: rgb(199, 134, 158,0.6);
    padding: 20px;
    border-radius: 15px;
    margin-top: 10px;
    text-shadow: none;
    box-shadow: black 0.1em 0.1em 0.2em;
    font-family: ubuntu;
    font-size: 1.25em;
}

a {
    color: aliceblue;
}

footer {
    margin-top: 10px;
}

@media (max-width: 900px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }

    .content {
        padding: 10px;
    }
}

@media (min-width: 900px) {
    @media (max-width: 1280px) {
        body {
            padding-left: 200px;
            padding-right: 200px;
        }
    }
}

@font-face {
    font-family: ubuntu;
    src: url(https://cloud.xshaw.xyz/fonts/Ubuntu-Mono/UbuntuMono-Regular.ttf);
}